<div>
  <h2 id="page-heading" data-cy="HumorHeading">
    <span jhiTranslate="babyApp.humor.home.title">Humors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="babyApp.humor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-humor"
        [routerLink]="['/humor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="babyApp.humor.home.createLabel"> Create a new Humor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="humors?.length === 0">
    <span jhiTranslate="babyApp.humor.home.notFound">No humors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="humors && humors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="value"><span jhiTranslate="babyApp.humor.value">Value</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="babyApp.humor.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emotico"><span jhiTranslate="babyApp.humor.emotico">Emotico</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let humor of humors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/humor', humor.id, 'view']">{{ humor.id }}</a>
          </td>
          <td>{{ humor.value }}</td>
          <td>{{ humor.description }}</td>
          <td>
            <a *ngIf="humor.emotico" (click)="openFile(humor.emotico, humor.emoticoContentType)">
              <img [src]="'data:' + humor.emoticoContentType + ';base64,' + humor.emotico" style="max-height: 30px" alt="humor image" />
            </a>
            <span *ngIf="humor.emotico">{{ humor.emoticoContentType }}, {{ byteSize(humor.emotico) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/humor', humor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/humor', humor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(humor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
