<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="humorHistory">
      <h2 data-cy="humorHistoryDetailsHeading"><span jhiTranslate="babyApp.humorHistory.detail.title">Humor History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ humorHistory.id }}</span>
        </dd>
        <dt><span jhiTranslate="babyApp.humorHistory.date">Date</span></dt>
        <dd>
          <span>{{ humorHistory.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="babyApp.humorHistory.babyProfile">Baby Profile</span></dt>
        <dd>
          <div *ngIf="humorHistory.babyProfile">
            <a [routerLink]="['/baby-profile', humorHistory.babyProfile?.id, 'view']">{{ humorHistory.babyProfile?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="babyApp.humorHistory.humor">Humor</span></dt>
        <dd>
          <div *ngIf="humorHistory.humor">
            <a [routerLink]="['/humor', humorHistory.humor?.id, 'view']">{{ humorHistory.humor?.description }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/humor-history', humorHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
