<div class="row justify-content-center">
  <div class="col-md-8 col-sm-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nap-heading" data-cy="NapCreateUpdateHeading" jhiTranslate="gatewayApp.babyNap.home.createOrEditLabel">
        Create or edit a Nap
      </h2>

      <div>
        <div class="alert alert-danger" *ngIf="dateError" jhiTranslate="gatewayApp.babyNap.validate.dateError">
          The start date can't be greater than end date!
        </div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.babyNap.start" for="field_start">Start</label>
          <div class="d-flex">
            <input
              id="field_start"
              data-cy="start"
              type="datetime-local"
              class="form-control"
              name="start"
              formControlName="start"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.babyNap.end" for="field_end">End</label>
          <div class="d-flex">
            <input
              id="field_end"
              data-cy="end"
              type="datetime-local"
              class="form-control"
              name="end"
              formControlName="end"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.babyNap.place" for="field_place">Place</label>
          <select class="form-control" name="place" formControlName="place" id="field_place" data-cy="place">
            <option [ngValue]="null">{{ 'gatewayApp.Place.null' | translate }}</option>
            <option value="LAP">{{ 'gatewayApp.Place.LAP' | translate }}</option>
            <option value="BABY_CRIB">{{ 'gatewayApp.Place.BABY_CRIB' | translate }}</option>
            <option value="CART">{{ 'gatewayApp.Place.CART' | translate }}</option>
            <option value="BABY_CONFORT">{{ 'gatewayApp.Place.BABY_CONFORT' | translate }}</option>
            <option value="BED">{{ 'gatewayApp.Place.BED' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.babyNap.babyProfile" for="field_babyProfile">Baby Profile</label>
          <select class="form-control" id="field_babyProfile" data-cy="babyProfile" name="babyProfile" formControlName="babyProfile">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                babyProfileOption.id === editForm.get('babyProfile')!.value?.id ? editForm.get('babyProfile')!.value : babyProfileOption
              "
              *ngFor="let babyProfileOption of babyProfilesSharedCollection; trackBy: trackBabyProfileById"
            >
              {{ babyProfileOption.name }}
            </option>
          </select>
        </div>

        <!-- <div class="form-group">
          <label class="form-control-label" jhiTranslate="gatewayApp.babyNap.humor" for="field_humor">Humor</label>
          <select class="form-control" id="field_humor" data-cy="humor" name="humor" formControlName="humor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="humorOption.id === editForm.get('humor')!.value?.id ? editForm.get('humor')!.value : humorOption"
              *ngFor="let humorOption of humorsSharedCollection; trackBy: trackHumorById"
            >
              {{ humorOption.description }}
            </option>
          </select>
        </div> -->

        <div class="form-group">
          <label class="form-control-label d-block" jhiTranslate="gatewayApp.babyNap.humor" for="field_humor">Humor</label>
          <div class="d-inline" *ngFor="let humorOption of humorsSharedCollection; trackBy: trackHumorById">
            <input
              id="humor_{{ humorOption.id }}"
              type="radio"
              formControlName="humor"
              data-cy="humor"
              name="humor"
              [value]="humorOption"
              [checked]="humorOption.id === editForm.get('humor')!.value?.id"
              class="d-none"
            />
            <label for="humor_{{ humorOption.id }}">
              <div [ngSwitch]="humorOption.value">
                <fa-icon
                  *ngSwitchCase="1"
                  icon="angry"
                  class="emoji angry"
                  [ngClass]="humorOption.id === editForm.get('humor')!.value?.id ? 'select' : ''"
                ></fa-icon>
                <fa-icon
                  *ngSwitchCase="2"
                  icon="frown"
                  class="emoji frown"
                  [ngClass]="humorOption.id === editForm.get('humor')!.value?.id ? 'select' : ''"
                ></fa-icon>
                <fa-icon
                  *ngSwitchCase="3"
                  icon="meh"
                  class="emoji meh"
                  [ngClass]="humorOption.id === editForm.get('humor')!.value?.id ? 'select' : ''"
                ></fa-icon>
                <fa-icon
                  *ngSwitchCase="4"
                  icon="smile"
                  class="emoji smile"
                  [ngClass]="humorOption.id === editForm.get('humor')!.value?.id ? 'select' : ''"
                ></fa-icon>
                <fa-icon
                  *ngSwitchCase="5"
                  icon="laugh"
                  class="emoji laugh"
                  [ngClass]="humorOption.id === editForm.get('humor')!.value?.id ? 'select' : ''"
                ></fa-icon>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
