<div>
  <h2 id="page-heading" data-cy="BreastFeedHeading">
    <span jhiTranslate="gatewayApp.babyBreastFeed.home.title">Breast Feeds</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.babyBreastFeed.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-breast-feed"
        [routerLink]="['/breast-feed/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.babyBreastFeed.home.createLabel"> Create a new Breast Feed </span>
      </button>
    </div>
    <div class="d-flex justify-content-end mb-2 mt-2">
      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="breastFeeds?.length === 0">
    <span jhiTranslate="gatewayApp.babyBreastFeed.home.notFound">No breastFeeds found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="breastFeeds && breastFeeds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="start">
            <span jhiTranslate="gatewayApp.babyBreastFeed.start">Start</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="end"><span jhiTranslate="gatewayApp.babyBreastFeed.end">End</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pain" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="gatewayApp.babyBreastFeed.pain">Pain</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="babyProfile.name">
            <span jhiTranslate="gatewayApp.babyBreastFeed.babyProfile">Baby Profile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let breastFeed of breastFeeds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/breast-feed', breastFeed.id, 'view']">{{ breastFeed.id }}</a>
          </td>
          <td>{{ breastFeed.start | formatMediumDatetime }}</td>
          <td>{{ breastFeed.end | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'gatewayApp.Pain.' + breastFeed.pain }}" *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ breastFeed.pain }}</td>
          <td>
            <div *ngIf="breastFeed.babyProfile">
              <a [routerLink]="['/baby-profile', breastFeed.babyProfile?.id, 'view']">{{ breastFeed.babyProfile?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/breast-feed', breastFeed.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/breast-feed', breastFeed.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(breastFeed)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
