<div>
  <h2 id="page-heading" data-cy="BabyProfileHeading">
    <span jhiTranslate="gatewayApp.babyBabyProfile.home.title">Baby Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.babyBabyProfile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-baby-profile"
        [routerLink]="['/baby-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.babyBabyProfile.home.createLabel"> Create a new Baby Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="babyProfiles?.length === 0">
    <span jhiTranslate="gatewayApp.babyBabyProfile.home.notFound">No babyProfiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="babyProfiles && babyProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="gatewayApp.babyBabyProfile.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="picture" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="gatewayApp.babyBabyProfile.picture">Picture</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <span jhiTranslate="gatewayApp.babyBabyProfile.birthday">Birthday</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sign">
            <span jhiTranslate="gatewayApp.babyBabyProfile.sign">Sign</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="main" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="gatewayApp.babyBabyProfile.main">Main</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userId" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span jhiTranslate="gatewayApp.babyBabyProfile.userId">User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let babyProfile of babyProfiles; trackBy: trackId" data-cy="entityTable">
          <td class="align-middle">
            <a [routerLink]="['/baby-profile', babyProfile.id, 'view']">{{ babyProfile.id }}</a>
          </td>
          <td class="align-middle">{{ babyProfile.name }}</td>
          <td class="align-middle" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <a *ngIf="babyProfile.picture" (click)="openFile(babyProfile.picture, babyProfile.pictureContentType)">
              <img
                [src]="'data:' + babyProfile.pictureContentType + ';base64,' + babyProfile.picture"
                style="max-height: 30px"
                alt="babyProfile image"
              />
            </a>
            <span *ngIf="babyProfile.picture">{{ babyProfile.pictureContentType }}, {{ byteSize(babyProfile.picture) }}</span>
          </td>
          <td class="align-middle">{{ babyProfile.birthday | formatMediumDatetime }}</td>
          <td class="align-middle">{{ babyProfile.sign }}</td>
          <td class="align-middle" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <fa-icon
              [icon]="babyProfile.main ? 'check' : 'window-minimize'"
              aria-hidden="true"
              class="{{ babyProfile.main ? 'text-success' : 'text-muted' }}"
            ></fa-icon>
          </td>
          <td *jhiHasAnyAuthority="'ROLE_ADMIN'">{{ babyProfile.userId }}</td>
          <td class="text-right align-middle">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/baby-profile', babyProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/baby-profile', babyProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(babyProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="babyProfiles && babyProfiles.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
