<div>
  <h2 id="page-heading" data-cy="NapHeading">
    <span jhiTranslate="babyApp.nap.home.title">Naps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="babyApp.nap.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nap"
        [routerLink]="['/nap/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="babyApp.nap.home.createLabel"> Create a new Nap </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="naps?.length === 0">
    <span jhiTranslate="babyApp.nap.home.notFound">No naps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="naps && naps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="start"><span jhiTranslate="babyApp.nap.start">Start</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="end"><span jhiTranslate="babyApp.nap.end">End</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="place"><span jhiTranslate="babyApp.nap.place">Place</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="babyProfile.name">
            <span jhiTranslate="babyApp.nap.babyProfile">Baby Profile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="humor.description">
            <span jhiTranslate="babyApp.nap.humor">Humor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let nap of naps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nap', nap.id, 'view']">{{ nap.id }}</a>
          </td>
          <td>{{ nap.start | formatMediumDatetime }}</td>
          <td>{{ nap.end | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'babyApp.Place.' + nap.place }}">{{ nap.place }}</td>
          <td>
            <div *ngIf="nap.babyProfile">
              <a [routerLink]="['/baby-profile', nap.babyProfile?.id, 'view']">{{ nap.babyProfile?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="nap.humor">
              <a [routerLink]="['/humor', nap.humor?.id, 'view']">{{ nap.humor?.description }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/nap', nap.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/nap', nap.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nap)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
