<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nap-heading" data-cy="NapCreateUpdateHeading" jhiTranslate="babyApp.nap.home.createOrEditLabel">Create or edit a Nap</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="babyApp.nap.start" for="field_start">Start</label>
          <div class="d-flex">
            <input
              id="field_start"
              data-cy="start"
              type="datetime-local"
              class="form-control"
              name="start"
              formControlName="start"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="babyApp.nap.end" for="field_end">End</label>
          <div class="d-flex">
            <input
              id="field_end"
              data-cy="end"
              type="datetime-local"
              class="form-control"
              name="end"
              formControlName="end"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="babyApp.nap.place" for="field_place">Place</label>
          <select class="form-control" name="place" formControlName="place" id="field_place" data-cy="place">
            <option [ngValue]="null">{{ 'babyApp.Place.null' | translate }}</option>
            <option *ngFor="let place of placeValues" [value]="place">{{ 'babyApp.Place.' + place | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="babyApp.nap.babyProfile" for="field_babyProfile">Baby Profile</label>
          <select class="form-control" id="field_babyProfile" data-cy="babyProfile" name="babyProfile" formControlName="babyProfile">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                babyProfileOption.id === editForm.get('babyProfile')!.value?.id ? editForm.get('babyProfile')!.value : babyProfileOption
              "
              *ngFor="let babyProfileOption of babyProfilesSharedCollection; trackBy: trackBabyProfileById"
            >
              {{ babyProfileOption.name }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="babyApp.nap.humor" for="field_humor">Humor</label>
          <select class="form-control" id="field_humor" data-cy="humor" name="humor" formControlName="humor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="humorOption.id === editForm.get('humor')!.value?.id ? editForm.get('humor')!.value : humorOption"
              *ngFor="let humorOption of humorsSharedCollection; trackBy: trackHumorById"
            >
              {{ humorOption.description }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
